/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/

/* Global styles
------------------------------------*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

img {
  width: 300px;
}
a {
  color: #ffe66d;
}
a:hover {
  text-decoration: none;
}
h1,
h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 100px;
  line-height: 1;
}
h2 {
  font-size: 45px;
}
/* My code -------------------------------*/
nav {
  width: 100%;
  height: 80px;
  color: #2f3061;
}
nav ul {
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

nav li {
  list-style: none;
  display: inline-block;
  float: right;
  line-height: 80px;
}
nav a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
  padding: 0px 20px;
  color: peachpuff;
}

nav .current {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-family: Arial;
  font-weight: bold;
  color: #000000;
  background-color: #aa9653;
  border: 1px solid #00000;
  /* border-right: 1px solid #c5a53d;
  border-bottom: 1px solid #c5a53d; */
}

nav a:hover {
  color: #f7fff7;
  border-top: 2px solid #f7fff7;
}

/*---------------------------------------------------- */

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}
.item-details h3 {
  margin-bottom: 0;
}
.item-details h3 + p {
  font-style: italic;
}
.item-details h3 ~ p {
  margin: 0;
}
.divider > section {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.divider > section:last-of-type {
  border: none;
}

/* Profile
------------------------------------*/
header {
  /* background: #2f3061; */
  background-color: #46344e;
  /* color: #f7fff7; */
  color: #bdbabe;
}

/* Projects
------------------------------------*/
.projects {
  /* background: #c9dcfc; */
  background: #2d283e;
  /* color: #d1d7e0; */
  color: #c1bccf;
}
.project-item a {
  color: #2f3061;
}
.projects .btn {
  background: #564c7c;
  color: #f7fff7;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover {
  background: #802bb1;
}
.project-item h3 {
  margin-top: 0;
}

/* Work Experience
------------------------------------*/

.work-experience {
  /* background-image: url(../images/annie-spratt-unsplash.jpg);
  color: #f7fff7; */
  /* background: #79cfdf; */
  background-color: #34676be5;
  color: #cdeff1;
}

.job-item .btn {
  background: #1a3b3d;
  color: #f7fff7;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.job-item .btn:hover {
  background: #00adb681;
}

.job-item ul {
  list-style-type: none;
}

/* Education
------------------------------------*/
.education {
  background-image: url(../images/joanna-kosinska-unsplash.jpg);
  background-color: #e0a703;
  background-position: top right;
  background-size: cover;
  padding-bottom: 100px;
}
.education p {
  width: 60%;
}

/* Contact Info
------------------------------------*/
footer {
  background: #343434;
  color: #f7fff7;
}
.contact-list {
  list-style-type: none;
  padding: 0;
}
.contact-list a {
  padding: 5px;
  display: inline-block;
}

/* Responsive
------------------------------------*/
@media screen and (min-width: 750px) {
  header,
  footer {
    text-align: center;
  }

  .project-item img {
    float: left;
    margin-right: 20px;
  }

  .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 20px;
  }

  .contact-list {
    display: flex;
    justify-content: center;
  }
  .contact-list a {
    padding: 15px;
  }
}

@media screen and (max-width: 749px) {
  h1 {
    font-size: 75px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
}
